<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Contact")}</%block>

<section class="container about">
<h1>${_("Contact")}</h1>

<p> AkademiX is developed and operated by 
<ul>
<li> <a href="http://alexander.lundervold.com">Alexander </a></li>
<li> Jonas </li>
<li> <a href="http://www.uib.no/en/persons/Arvid.Lundervold">Arvid</a> </li>
</ul>
<!--in collaboration with <a href="http://bergento.no">Bergen Teknologioverføring</a> -->
</p>
<p>
You can reach us at <a href="mailto:kontakt@akademix.no">kontakt@akademix.no</a>
</p>
<br>
<hr>
<br>
<p> AkademiX utvikles og driftes av  
<ul>
<li> <a href="http://alexander.lundervold.com">Alexander </a></li>
<li> Jonas </li>
<li> <a href="http://www.uib.no/en/persons/Arvid.Lundervold">Arvid</a> </li>
</ul>
<!--in collaboration with <a href="http://bergento.no">Bergen Teknologioverføring</a> -->
</p>
<p>
Kontakt oss på <a href="mailto:kontakt@akademix.no">kontakt@akademix.no</a>
</p>
</section>
